main {
    background: #C7EEFF;
}

body {
    background: #C7EEFF;
}

.unb-icon {
    width: 40px;
    height: 30px;
}

.nav_name {
    color: #000000;
}

.nav_logo-name {
    color: #000000;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.5); /* Overlay color and transparency */
    display: none; /* Hide the overlay initially */
    z-index: 1; /* Set a higher z-index to make it overlap other elements */
  }