<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" >
	<head>
		<meta http-equiv="content-type" content="text/html" charset="utf-8" />
		<title>desktop___1</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="" >
		<link rel="StyleSheet" href="desktop___1.css" />
		<script src="https://secure.exportkit.com/cdn/js/ek_googlefonts.js?v=6"></script>
		<!-- Add your custom HEAD content here -->

	</head>
	<body>
		<div id="content-container" >
			<div id="_bg__desktop___1"  ></div>
			<img src="skins/rectangle_1.png" id="rectangle_1" />
			<div id="rectangle_2"  ></div>
			<div id="unb_eventos" >
				UnB Eventos
			</div>
			<div id="rectangle_9"  ></div>
			<div id="palestra___teoria_da_relatividade_jan___28" >
				Palestra - Teoria da Relatividade<br/>jan - 28
			</div>
			<div id="palestra___gen_tica_de_semoventes_jan___29" >
				Palestra - Gen<span class="char">%C3%A9t</span>tica de semoventes<br/>jan - 29
			</div>
			<div id="campus_party_jan___30" >
				Campus party<br/>jan - 30
			</div>
			<div id="workshop_robocup_jan___31" >
				Workshop robocup<br/>jan - 31
			</div>

			<a id="rectangle_31_cls_a"  _par="" href="frame_9.html" >
				<img src="skins/rectangle_31_ek1.png" id="rectangle_31_ek1" />

			</a>
			<img src="skins/rectangle_33.png" id="rectangle_33" />

			<div id="component_5"  >

				<div id="property_1_default"  >
					<a id="_rectangle_7_link" href="frame_11.html" >
					<div id="_rectangle_7"  ></div>
					</a>
					<div id="pesquisar" >
						Pesquisar
					</div>
					<div id="ellipse_1"  ></div>
					<div id="ellipse_2"  ></div>
					<div id="line_1"  ></div>
					<div id="line_2"  ></div>
					<div id="line_3"  ></div>
					<div id="ellipse_3"  ></div>

				</div>

			</div>
			<a id="_union_link" href="desktop___2.html" >
			<img src="skins/_union.png" id="_union" />
			</a>
			<div id="eventos_pr_ximos" >
				Eventos pr<span class="char">%C3%B3x</span>imos
			</div>
			<img src="skins/evento4figma_2.png" id="evento4figma_2" />
			<div id="rectangle_47"  ></div>
			<div id="teoria_da_relatividade_jan___28" >
				Teoria da Relatividade<br/>jan - 28
			</div>
			<div id="gen_tica_de_semoventes_jan___29" >
				Gen<span class="char">%C3%A9t</span>ica de semoventes<br/>jan - 29
			</div>
			<div id="campus_party_jan___30_ek1" >
				Campus party<br/>jan - 30
			</div>
			<div id="workshop_robocup_jan___31_ek1" >
				Workshop robocup<br/>jan - 31
			</div>

			<a id="rectangle_48_cls_a"  _par="" href="frame_9.html" >
				<img src="skins/rectangle_31_ek2.png" id="rectangle_31_ek2" />

			</a>
			<img src="skins/rectangle_49.png" id="rectangle_49" />
			<div id="eventos_pr_ximos_ek1" >
				Eventos pr<span class="char">%C3%B3x</span>ximos
			</div>
			<a id="_rectangle_46_link" href="frame_17.html" >
			<img src="skins/_rectangle_46.png" id="_rectangle_46" />
			</a>
			<a id="_rectangle_32_link" href="frame_19.html" >
			<img src="skins/_rectangle_32.png" id="_rectangle_32" />
			</a>

		</div>
		<script>var specialChars = document.querySelectorAll("span.char"); for(var c=0; c<specialChars.length; c++){ specialChars[c].innerHTML = decodeURIComponent(specialChars[c].innerHTML); }</script>
	</body>
</html>
