<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" >

    <head>

        <meta http-equiv="content-type" content="text/html" charset="utf-8" />

        <title>frame_9</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="description" content="" >

        <link rel="StyleSheet" href="static/style.css" />

        <script src="https://secure.exportkit.com/cdn/js/ek_googlefonts.js?v=6"></script>

        <!-- Add your custom HEAD content here -->




    </head>

    <body>

        <div id="content-container" >

            <div id="_bg__frame_9"  ></div>

            <img src="static/skins/rectangle_1.png" id="rectangle_1" />

            <img src="static/skins/rectangle_2.png" id="rectangle_2" />

            <div id="rectangle_3"  ></div>

            <img src="static/skins/union.png" id="union" />

            <img src="static/skins/rectangle_7.png" id="rectangle_7" />

            <div id="teoria_da_relatividade" >

                Teoria da Relatividade

            </div>

            <div id="data__28_01_2023" >

                <span style="font-style:normal; font-weight:normal; text-decoration:NONE; ">Data: 28/01/2023<br/></span><span style="color:#FFFFFF; font-style:normal; font-weight:normal; text-decoration:NONE; "><br/><br/></span>

            </div>

            <div id="organizadores__prof__ronaldo_naz_rio_de_lima_prof__edson_arantes" >

                Organizadores: <br/>Prof. Ronaldo Naz<span class="char">%C3%A1r</span>rio de Lima<br/>Prof. Edson Arantes

            </div>

            <div id="categoria__1_palestra_2_ci_ncia_3_fisica" >

                Categoria: <br/>1-Palestra<br/>2-Ci<span class="char">%C3%AAn</span>ncia<br/>3-Fisica

            </div>

            <div id="local__unb__icc_sul__anf_07_" >

                Local:<br/>UnB, ICC-SUL, ANF-07;

            </div>

            <div id="um_breve_resumo_do_evento__lorem_ipsum_lectus_est_maecenas_laoreet_aliquam_est_amet_iaculis_eget_varius__interdum_suspendisse_dictumst_ligula_vulputate_duis_posuere_at_ante_conubia_netus_semper__varius_vivamus_turpis_ut_euismod_quam_suspendisse_cubilia_aptent_porta__mauris_etiam_suscipit_mattis_sit_aliquam_faucibus_curabitur_sociosqu_nullam_lorem_ad_ac_ante__primis_ligula_pellentesque_congue_lectus_risus_mi_dictum_iaculis_turpis_sollicitudin_odio__donec_fames_per_hendrerit_vestibulum_ligula_primis_dictum_ultricies_pellentesque_integer_lobortis__aliquet_pulvinar_proin_gravida_velit_eu_turpis_imperdiet_duis__diam_netus_euismod_sociosqu_urna_cubilia_potenti__semper_ad_pharetra_sit_nisl_porttitor_praesent_" >

                <span style="font-style:normal; text-decoration:NONE; ">Um breve resumo do evento:</span><span style="color:#FFFFFF; font-style:normal; text-decoration:NONE; "> </span><span style="font-style:normal; text-decoration:NONE; ">Lorem ipsum lectus est maecenas laoreet aliquam est amet iaculis eget varius, interdum suspendisse dictumst ligula vulputate duis posuere at ante conubia netus semper, varius vivamus turpis ut euismod quam suspendisse cubilia aptent porta. mauris etiam suscipit mattis sit aliquam faucibus curabitur sociosqu nullam lorem ad ac ante, primis ligula pellentesque congue lectus risus mi dictum iaculis turpis sollicitudin odio, donec fames per hendrerit vestibulum ligula primis dictum ultricies pellentesque integer lobortis. aliquet pulvinar proin gravida velit eu turpis imperdiet duis, diam netus euismod sociosqu urna cubilia potenti, semper ad pharetra sit nisl porttitor praesent</span>

            </div>




            <a id="rectangle_8_cls_a"  _par="" href="frame_16.html" >

                <div id="rectangle_8_ek1"  ></div>




            </a>

            <div id="inscrever_se" >

                Inscrever-se

            </div>




            <a id="unb_eventos_cls_a"  _par="" href="desktop___1.html" >

                <div id="unb_eventos_ek1" >

                    UnB Eventos

                </div>




            </a>




            <div id="frame_22"  >




                <div id="component_1"  >

                    <div id="rectangle_29"  ></div>

                    <div id="rectangle_30"  ></div>




                </div>




            </div>

            <a id="_rectangle_47_link" href="frame_17.html" >

            <img src="skins/_rectangle_47.png" id="_rectangle_47" />

            </a>




        </div>

        <script>var specialChars = document.querySelectorAll("span.char"); for(var c=0; c<specialChars.length; c++){ specialChars[c].innerHTML = decodeURIComponent(specialChars[c].innerHTML); }</script>

    </body>

</html>